@font-face {
  font-family: 'OTWelcomeRA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
 }
 
 @font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
 }
 
 @font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
 }
 
 .nanumbarungothic * {
  font-family: 'NanumBarunGothic', sans-serif;
 }

body{
  margin: 0px;
  font-family: 'NanumBarunGothic', sans-serif
}
#MV {
  z-index: -100;
  position: absolute;
  width: 100vw;
  overflow: hidden;
  height: 70vw;
}
#VB {
  display: flex;
  width: 100vw;
  height: 550px;
  overflow: hidden;
  align-items:center;
  justify-content: flex-start;
  z-index: -100;
}
.navbar {
  overflow: hidden;
  display: flex;
  justify-content:center;
  width: 100%;
  height: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  position:fixed;
  background-color: white;
}
.subnav {
  height: 100%;
  width: 192px;
  
}
.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  height: 100%;
  width: 12em;
}

.navbar a:hover, .subnav:hover .subnavbtn{
  background-color: khaki;
}
.subnav-content a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 12em;
  height: 100%;
}
.subnav-content a:hover {
  background-color: grey;
  color: white;
}
.subnav-content {
  z-index: 10000;
}
.subnavbtn:hover > .subnav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4em;
<<<<<<< Updated upstream
  z-index: 1000;
=======
  z-index: 100;
>>>>>>> Stashed changes
  position: absolute;
  left: 0;
  background-color:khaki;
  text-align: center;
}
.mainTitle {
  border:none;
  font-size: xx-large;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  height: 100%;
  width: 100%;
}
.mainTitle:hover {
  background-color: khaki;
}
#Title {
  text-decoration: none;
  color: black;
}

/* _____________________

  타임라인 css
   _____________________*/

   body {
    margin: 0px;
  }
  .container {
      display: flex;
      align-items: center;
      background-color: white;
      height:720px;
      margin-top: 100px;
  }
  #left {
      width: 7%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  }
  #right {
      width:86%;
      height: 820px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
  }
  .surround {
    display: flex;
    height: 100%;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
  }
  .surround2 {
    display: flex;
    height: 100%;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-left: 20%;
  }
  #leftStick {
      background-color: black;
      border-radius: 20px;
      height: 650px;
      width: 10px;
  }
  .rightStick {
      background-color: black;
      height:3%;
      width: 100%;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      animation: slidein 10s cubic-bezier(.3, 0, .3, 1);
  }
  @keyframes slidein {
    from {
      width: 0%;
      
    }
  
    to {
  
      width: 100%;
    }
  }
  .sticks {
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .sticks1 {
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .up {
    height: 50%;
    width: 100%;
    color: white;
  }
  .__1 {
    animation: _color 3s 1.6s forwards;
  }
  .__2 {
    animation: _color 3s 3.15s forwards;
  }
  .__3 {
    animation: _color 3s 5.1s forwards;
  }
  @keyframes _color {
    0% {
  background-color:white;
    }
  
    100% {
  background-color: black;
    }
  }
  .__4 {
    animation: _color 3s 2.4s forwards;
  }
  .__5 {
    animation: _color 3s 4s forwards;
  }
  .__6 {
    animation: _color 3s 7.1s forwards;
  }
  .bStick {
      height: 30%;
      width: 10px;
  }
  ._1 {
    animation: slideup 3s 1.6s forwards;
  }
  ._2 {
    animation: slideup 3s 3.15s forwards;
  }
  ._3 {
    animation: slideup 3s 5.1s forwards;
  }
  @keyframes slideup {
    from {
      background-color: transparent;
      height: 0%;
    }
    1% {
      background-color: black;
    }
  
    to {
      background-color: black;
      height: 30%;
    }
  }
  ._4 {
    animation: slideup 3s 2.4s forwards;
  }
  ._5 {
    animation: slideup 3s 4s forwards;
  }
  ._6 {
    animation: slideup 3s 7.1s forwards;
  }

/* _____________________

  타임라인 css
_____________________*/

  .teamContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid black;
}

@media screen and (max-width: 768px) {}

#circle:hover {
    box-shadow: 1px 1px 20px black;
    transition: box-shadow 0.3s ease-in-out;
}

.teamface {
    width: 200%;
}

.button1 {
    position: relative;
    right: 50px;
}

.button2 {
    position: relative;
    right: 50px;
}

.button3 {
    position: relative;
    right: 50px;
}

.button4 {
    position: relative;
    right: 50px;
}

.card {
    /* display: flex;
    flex-direction: column; */
    margin:20px
}