body {
    margin: 0;
    scroll-snap-type: y mandatory;
}
a {
    text-decoration: none;
    color: black;
}
::-webkit-scrollbar {
    display: none;
}
#menubar {
    width: 100%;
    height: 11vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20vw 0 20vw;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    box-sizing: border-box;
}
.fiveLink {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%
}
.fiveLink:hover {
    background-color: rgb(226, 224, 118);
}
.section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: end;
    padding-top: 11vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.TEAM {
    background-color: skyblue;
    font-size: xx-large;
}
.MEMBER {
    background-color:turquoise
}
.sectionHeader {
    position: absolute;
    top: 25vh;
    left: 10vw;
    font-size: xx-large;
}
#teamMember {
    width: 80%;
    height: 40%;
    margin-top: 12vh;
    display: flex;
    justify-content: space-evenly;
}
.fourPeeps {
    width: 24%;
    height: 90%;
    box-shadow: black 0px 0px 3px 1px inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.fourPeeps:hover > .grey{
    display: flex;
    box-shadow: black 0px 0px 3px 1px;
}
.fourPeeps:hover{
    box-shadow: none;
}
.grey {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    display: none;display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.MILink {
    height: 2vw;
    width: 10vw;
    background-color: white;
    border-radius: 2vw;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 프로젝트  */

.BIGPROJECT {
    font-size: 30pt;
    justify-content: center;
    align-items: center;
}

.PROJECTI {
    font-weight: 400;
}

.PROJECTW {
    font-weight: 200;
}

.TIMELINE {
    background-color:white
}
.container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
#left {
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#right {
    width:86%;
    height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.surround {
  display: flex;
  height: 100%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin-left: 4%;
}
.surround2 {
  display: flex;
  height: 100%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin-left: 20%;
}
#leftStick {
    background-color: black;
    border-radius: 20px;
    height: 650px;
    width: 10px;
}
.rightStick {
    background-color: black;
    height:3%;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    animation: slidein 10s cubic-bezier(.3, 0, .3, 1);
}
@keyframes slidein {
  from {
    width: 0%;
    
  }

  to {

    width: 100%;
  }
}
.sticks {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.sticks1 {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.up {
  height: 50%;
  width: 100%;
  color: white;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.explain {
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.__1 {
  animation: _color 3s 1.6s forwards;
}
.__2 {
  animation: _color 3s 3.15s forwards;
}
.__3 {
  animation: _color 3s 5.1s forwards;
}
@keyframes _color {
  0% {
background-color:white;
  }

  100% {
background-color: black;
  }
}
.__4 {
  animation: _color 3s 2.4s forwards;
}
.__5 {
  animation: _color 3s 4s forwards;
}
.__6 {
  animation: _color 3s 7.1s forwards;
}
.bStick {
    height: 30%;
    width: 10px;
}
._1 {
  animation: slideup 3s 1.6s forwards;
}
._2 {
  animation: slideup 3s 3.15s forwards;
}
._3 {
  animation: slideup 3s 5.1s forwards;
}
@keyframes slideup {
  from {
    background-color: transparent;
    height: 0%;
  }
  1% {
    background-color: black;
  }

  to {
    background-color: black;
    height: 30%;
  }
}
._4 {
  animation: slideup 3s 2.4s forwards;
}
._5 {
  animation: slideup 3s 4s forwards;
}
._6 {
  animation: slideup 3s 7.1s forwards;
}